---
Checks: >-
  readability-*,
  portability-*,
  performance-*,
  modernize-*,
  misc-*,
  hicpp-*,
  cert-*,
  cppcoreguidelines-*,
  concurrency-*,
  bugprone-,
  -clang-diagnostic-error
WarningsAsErrors: '*'
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle: file
...
